<h1>Dados de empresa</h1>
<hr>

<h2>{{listaremp.nomeempresa}}</h2>

<p>CNPJ: {{listaremp.cnpj}}</p>
<p>Telefone: {{listaremp.telefone}}</p>
<p>Localidade: {{listaremp.localidade}}</p>

<a href="/emp/edit/{{listaremp.cnpj}}">Editar</a>
<a href="/emp/edit/{{listaremp.cnpj}}">excluir</a>