<!DOCTYPE html>
<html>
  <head>
    <title>Carros disponíveis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="https://i.imgur.com/AEDd9JG.png" alt="Logo da LoCadu" class="img-fluid" style="max-width: 50px;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Carros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cadastro_car">Cadastro</a>
          </li>
        </ul>
      </div>
    </nav>


<div class="div-pai">
  <h1>Carros disponíveis:</h1>

  <form method="GET" action="/carros">
    <label for="search">Buscar por modelo:</label>
    <input type="text" name="q" id="search" placeholder="Modelo do carro">
    <button type="submit">Buscar</button>
  </form>

  <div class="carros-container">
    {{#each carros}}
      <div>#{{this.id}} - <span class="bold"><a href="/carros/{{this.id}}">{{this.modelo}}</a></span> / Placa: {{this.placa}} / km: {{this.km}}</div>
    {{/each}}
  </div>

  <br>
  <br>
    <a href="/cadastro_car" class="btn" >Adicionar Carro</a>
</div>


<style>
  .div-pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
    margin-right: 10px;
  }

  input[type="text"] {
    width: 300px;
    padding: 5px;
    font-size: 16px;
  }

  button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #070707;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0a0a0a;
  }

  .carros-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .carros-container div {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .bold {
    font-weight: bold;
  }

  .btn {
    padding: 10px;
    font-size: 16px;
    background-color: #141414;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }

  .btn:hover {
    background-color: #111111;
  }
</style>