<h1>Editar Empresa {{emp.cnpj}}</h1>
    <hr>
    <form action="/emp/updateemp" method="POST">
        <div class="form-control">
            <input type="hidden" name="cnpj" id="cnpj" value="{{emp.cnpj}}">
            <label for="nomeempresa">Nome empresa:</label>
            <input type="text" name="nomeempresa" placeholder="Digite o nome do empresa" value="{{emp.nomeempresa}}">
        </div>

         <div class="form-control">
            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" placeholder="Digite a telefone " value="{{emp.telefone}}">
        </div>

        <div class="form-control">
            <label for="localidade">Localidade:</label>
            <input type="text" name="localidade" placeholder="Digite a localidade " value="{{emp.localidade}}">
        </div>
    
        <input type="submit" value="Editar">
    </form>
