<h1>empresa</h1>
      
         
<h1> {{listaremp.nomeempresa}} </h1>

<p> cnpj {{listaremp.cnpj}} </p>

<p> Telefone {{listaremp.telefone}} </p>

<p> Localidade {{listaremp.localidade}} </p>



<a href="/emp/edit/{{listaremp.cnpj}}">Editar</a>
<a href="/emp/remove/{{listaremp.cnpj}}" >excluir</a>